#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
 
  background: url('./assets/SHE-Poltix LOGO.jpg') no-repeat center center/cover; // Add your GIF here
  color: $white-color;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;


  @include respond(phone) {
    padding: 0rem $default-font-size;
  }

  .hero-title {
    font-size: 7.0rem;
    font-weight: 800;
    margin-bottom: 3.2rem;
    text-align: center;
    line-height: 1.2;
    color: $white-color;

    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2.8rem;
    }
  }

  .hero-cta {
    display: flex;
    justify-content: center;

    a {
      display: inline-block;
      font-size: 2.4rem;
      background: $secondary-color;
      color: $white-color;
      padding: 1rem 2rem;
      border-radius: 5px;
      text-decoration: none;
      font-weight: 600;

      &:hover {
        background: $red-color;
        color: $white-color;
        transition: all 0.3s ease-in-out;
      }

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}
