#signup-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url('/src/assets/cool-background.jpg') no-repeat center center/cover;
    color: $white-color;
  
    // Add a semi-transparent overlay
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(255,255, 255, 0.5); // Dark blue with transparency
    
      z-index: 1;
    }
  
    .container {
      position: relative;
      z-index: 2;
    }
  
    .row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  
    .signup-logo {
      text-align: left;
      color: $white-color;
  
      h1 {
        font-size: 4rem;
        margin-bottom: 1rem;
        color: $white-color;
      }
  
      img {
        max-width: 350px;
      }
    }
  
    .signup-form {
      background: rgba(255, 255, 255, 0.9); // Slightly transparent white
      padding: 2rem;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
      input {
        width: 100%;
        padding: 1rem;
        margin-bottom: 1rem;
        border: 1px solid $light-grey;
        border-radius: 4px;
        font-size: 1rem;
      }
  
      button {
        width: 100%;
        padding: 1rem;
        background: $primary-color; // Deep blue
        color: $white-color;
        border: none;
        border-radius: 4px;
        font-size: 1rem;
        cursor: pointer;
        font-weight: bold;
  
        &:hover {
          background: $secondary-color; // Bright blue on hover
        }
      }
    }
  }
  