#legislation {
    padding: 2rem 0;
  
    .section-title {
      text-align: center;
      font-size: 2.4rem;
      color: $primary-color;
      margin-bottom: 2rem;
    }
  
    .legislation-content {
      h3.legislation-header {
        font-size: 1.8rem;
        color: $secondary-color;
        margin-bottom: 1rem;
        margin-top: 2rem; /* Add spacing above each header */
      }
  
      ul.legislation-list {
        list-style: none;
        padding: 0;
        margin-bottom: 2rem; /* Add spacing below the list */
        
        li {
          margin: 0.5rem 0;
          
          a {
            color: $dark-blue-text;
            text-decoration: none;
            
            &:hover {
              text-decoration: underline;
              color: $primary-color;
            }
          }
        }
      }
    }
  }
  