@import "./src/sass/vendors/bootstrap.scss";

@import "./src/sass/abstracts/mixins";
@import "./src/sass/abstracts/variables";
@import "./src/sass/abstracts/helpers";

@import "./src/sass/base/base";
@import "./src/sass/base/typography";

@import "./src/sass/components/buttons";

@import "./src/sass/layout/footer";
@import "./src/sass/layout/sections";

@import "./src/sass/sections/about";
@import "./src/sass/sections/contact";
@import "./src/sass/sections/hero";
@import "./src/sass/sections/projects";
@import "./src/sass/sections/top-bar.scss";
@import "./src/sass/sections/signup.scss";
@import './src/sass/sections/cta.scss';
@import "./src/sass/sections/about-additional.scss";
@import "./src/sass/sections/team.scss";
@import "./src/sass/sections/news.scss";
@import "./src/sass/sections/news-mirrored.scss";
@import "./src/sass/sections/legislation";
@import "./src/sass/sections/services";
