// COLORS
$primary-color: #002868; // Patriotic Blue
$secondary-color: #bf0a30; // Patriotic Red

$white-color: #ffffff; // Classic white

$red-color: #bf0a30;
$light-grey: #f9f9f9;
$dark-grey: #343a40;

$dark-blue-text: #002868;
$dark-grey-text: #6c757d;

$soft-blue: #e8f0fe; // Soft blue tint
$light-green: #f1f8e9;
$light-yellow: #fff8e1;
$soft-grey: #eceff1;

// FONT SIZE
$default-font-size: 1.85rem; // Increased by 2pt (0.25rem)
$big-font-size: 4.25rem; // Increased by 2pt
$mid-font-size: 2.75rem; // Increased by 2pt
