/* Call to Action Button */
.cta-btn {
  display: inline-block;
  position: relative;
  padding: 0.8rem 1.6rem; // Ensure consistent padding
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1;
  color: $white-color;
  border: 2px solid transparent;
  z-index: 1;
  transition: all 0.3s ease-in-out;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-image: linear-gradient(135deg, $primary-color, $secondary-color);
    transition: width 0.3s ease-in-out;
  }

  &:hover {
    color: $white-color;
    text-decoration: none;

    &::after {
      width: 100%; // Expand gradient background
    }
  }
}

/* Hero Button */
.cta-btn--hero {
  border: 2px solid $secondary-color; // Bright blue border
  background: none;

  &:hover {
    background-image: linear-gradient(135deg, $primary-color, $secondary-color);
    color: $white-color;
    text-decoration: none;
  }

  &::after {
    background-image: linear-gradient(135deg, $primary-color, $secondary-color);
  }
}
