// Section
section {
  padding: 5rem 0rem;

  @include respond(tab-port) {
    padding: 4rem 0rem;
  }

  @include respond(phone) {
    border: none;
    padding: 3rem 1rem;
  }

  @include respond(phone-xs) {
    padding: 2.5rem 1rem;
  }
}

// Section Title Responsive
.section-title {
  @include respond(phone) {
    font-size: 2.5rem !important;
    margin-bottom: 2rem;
  }

  @include respond(phone-xs) {
    font-size: 2rem !important;
    margin-bottom: 1.5rem;
  }
}
