@import "./sass/vendors/bootstrap.scss";

@import "./sass/abstracts/mixins";
@import "./sass/abstracts/variables";
@import "./sass/abstracts/helpers";

@import "./sass/base/base";
@import "./sass/base/typography";

@import "./sass/components/buttons";

@import "./sass/layout/footer";
@import "./sass/layout/sections";

@import "./sass/sections/about";
@import "./sass/sections/contact";
@import "./sass/sections/hero";
@import "./sass/sections/projects";
@import "./sass/sections/top-bar.scss";
@import "./sass/sections/signup.scss";
@import './sass/sections/cta.scss';
@import "./sass/sections/about-additional.scss";
@import "./sass/sections/team.scss";
@import "./sass/sections/news.scss";
@import "./sass/sections/news-mirrored.scss";
@import "./sass/sections/legislation";
@import "./sass/sections/services";